@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f9f9f9;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  background-image: url('bg.jpg');
  background-size: cover;
  background-position: center;
  transition: all 0.3s ease;
}

h1 {
  color: #f2b1d7;
  font-size: 4rem;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
}

.thought h2 {
  color: #f2f2f2;
  font-size: 1.8rem;
  opacity: 0.8;
}

form {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.input {
  width: 100%;
  padding: 15px;
  font-size: 1.6rem;
  margin-bottom: 10px;
  border: 2px solid #f2b1d7;
  border-radius: 10px;
  outline: none;
  transition: border-color 0.3s ease;
}

.input::placeholder {
  color: #aaa;
}

.input:focus {
  border-color: #f2a1d4;
}

.todos {
  list-style-type: none;
  padding: 0;
}

.todos li {
  background-color: #fff;
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
  font-size: 1.6rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
}

.todos li.completed {
  color: #dcdcdc;
  text-decoration: line-through;
  background-color: #f2f2f2;
}

.todos li:hover {
  background-color: #f2b1d7;
  transform: translateY(-5px);
}

.todos li .checkmark {
  margin-right: 10px;
  display: none;
}

.todos li.completed .checkmark {
  display: inline-block;
  color: #4caf50;
  font-size: 1.8rem;
}

small {
  font-size: 1rem;
  color: #b5b5b5;
  text-align: center;
  margin-top: 20px;
  opacity: 0.7;
}

@media (max-width: 600px) {
  h1 {
    font-size: 3rem;
  }
  .input {
    font-size: 1.4rem;
  }
}

